<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Bizu LLC specializes in an array of Janitorial and Building Maintenance Services.  Our team of industry experts has allowed Great Lakes to continually provide top quality service in the fields of Aviation, Education, Healthcare, Office Buildings,  Construction, Municipalities, Warehousing and Retail.  BIZU LLC uses Integrity , Profes-sionalism, and Experience to provide a higher standard of services to our clients.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
