<section id="services" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Corporate Structure</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-circle wow bounceIn text-primary"></i>
                    <h3>MINORITY OWNED</h3>
                    <p class="text-muted">DUNS: 00-573-1466</p>
                    <p class="text-muted">EIN: 27-2153904</p>
                    <p class="text-muted">CAGE: 6GBH4</p>      
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-certificate wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>CERTIFICATIONS</h3>
                    <p class="text-muted">8A -SBA </p>
                    <p class="text-muted">Hub-Zone -SBA</p>
                    <p class="text-muted">DBE -MI, TX, NV, CA</p>
                    <p class="text-muted">MBE -MMSDC</p>  
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>NAICS CODES</h3>
                    <p class="text-muted">561720 -Janitorial Services</p>
                    <p class="text-muted">561210-Facility Support Services</p>
                    <p class="text-muted">238990 -Construction Clean</p> 
                </div>
            </div>
        </div>
    </div>
</section>
